*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PR';
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    background: #000;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    width: 100%;
}

.header{
    background: #181818;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}

.header__list{
    display: flex;
    gap: 50px;
}


.header__link{
    color: #FFF;
font-size: 15px;
font-weight: 400;
line-height: 20px;
}

.header__link:hover{
padding: 10px 20px;
border-radius: 14px;
background: #FFF;
color: #000;
}

.content{
    background: url(../images/main/bg.jpg) no-repeat center /cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.content__box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.content__info{
    display: flex;
    justify-content: end;
    gap: 15px;
    padding-right: 50px;
}

.content__box-info{
    color: #C0C0C0;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
}

.content__box-title{
    color: #FFF;
font-size: 54px;
font-weight: 400;
line-height: 59.4px;
}

.content__box-text{
    color: #C0C0C0;
font-size: 14px;
font-weight: 400;
line-height: 20px;
max-width: 580px;
width: 100%;
text-align: center;
margin-top: 18px;
}

.content__info-span{
    color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 12px;
}

.wedo__info-title{
    color: #FFF;
text-align: center;
font-size: 40px;
font-weight: 400;
line-height: 42px;
margin-top: 153px;
}

.wedo__info-text{
    color: #C0C0C0;
text-align: center;
font-size: 23px;
font-weight: 400;
line-height: 30px;
margin-bottom: 40px;
}

.wedo__box-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.wedo__products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    gap: 15px;
}

.wedo__item{
position: relative;
padding-left: 30px;
padding-bottom: 30px;
display: flex;
flex-direction: column;
gap: 15px;
justify-content: end;
}

.wedo__item-img{
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
z-index: -1;
}

.wedo__item-title{
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 20px; 
letter-spacing: 2px;
text-transform: uppercase;
}

.wedo__item-text{
    color: #C0C0C0;
font-size: 14px;
font-weight: 400;
line-height: 20px;
}

.wedo__item-btn{
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 14px;
background: #FFF;
width: 143px;
height: 42px;
}

.wedo__item-btn-title{
    color: #000;
font-size: 15px;
font-weight: 400;
line-height: 20px;
}

.mount__box{
    position: relative;
    height: 600px;
    margin-top: 100px;
}

.mount__img{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.mount__content{
    padding-right: 70px;
}

.mount__content-title{
    color: #FFF;
font-size: 14px;
font-weight: 400;
line-height: 20px;
letter-spacing: 2px;
text-transform: uppercase;
}

.mount__content-text{
    color: #C0C0C0;
font-size: 14px;;
font-weight: 400;
line-height: 20px;
max-width: 300px;
width: 100%;
}

.mount__info{
    display: flex;
    gap: 15px;
    padding-right: 50px;
    justify-content: end;
}

.mount__item-span{
    color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 12px;
}

.mount__box{
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    gap: 200px;
    padding-bottom: 40px;
}

.mount{
    
}